form{
  
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}


form>{
display: block;
}


body{

    background:url(imagem/the-last-of-us-part-ii.jpg) ;





}

h1{
color: red;
}
label{
color: red;
}
fieldset{
    color: red;
}
p{
    color: red;
}